[submodule "pkernel"]
	path = pkernel
	url = git@pksrv:/srv/git/pkernel.git
[submodule "pkbl"]
	path = pkbl
	url = git@pksrv:/srv/git/pkbl.git
[submodule "pkfs_tools"]
	path = pkfs_tools
	url = git@pksrv:/srv/git/pkfs_tools.git
[submodule "installer"]
	path = installer
	url = git@pksrv:/srv/git/pkos_installer.git
[submodule "pkstdlib"]
	path = pkstdlib
	url = git@pksrv:/srv/git/pkstdlib.git
