[submodule "pkernel"]
	path = pkernel
	url = https://cmcgann.com/githttp/pkernel.git
[submodule "pkbl"]
	path = pkbl
	url = https://cmcgann.com/githttp/pkbl.git
[submodule "pkfs_tools"]
	path = pkfs_tools
	url = https://cmcgann.com/githttp/pkfs_tools.git
[submodule "installer"]
	path = installer
	url = https://cmcgann.com/githttp/pkos_installer.git
[submodule "coreutils"]
	path = coreutils
	url = https://cmcgann.com/githttp/pkcoreutils.git
